@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/simple-dandy');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;

}
.navbar{
     width: 100%;
    display: flex;
    justify-content: space-between;
    position:absolute;
        overflow: hidden;
    top: 0;
   
}
li{
    display: flex;
   padding: 10px;
   margin-right: 100px;
  
}
.hr-top{
  width: 100vw;
  position: relative;
  top:-164px;
}
.hr-bottom{
  width: 100vw;
  position: relative;
  top:194px;
}
.space{
  width: 120px;
}
ul{
    
    display: flex;
  justify-content: center;
  
  margin-top: 40px;
    
}
.inline{
font-family: 'Simple Dandy', sans-serif;
    display: flex;
    gap: 9px;
    position: relative;
    left:170px;
    
}

li a button :hover {
  background-color :#bcbec1;
}
a{
    padding: 10px;
    text-decoration: none;
}
li a button {
   font-family: 'Simple Dandy', sans-serif;
font-weight: bold;
border-radius:30px;
height: 44px;
width: 138px;
    background-color:black;
    color: white;
   
    padding: 5px 10px;
    
}
.inline a{
  height: 100px;
  width:250px;
    color: white;
    font-weight:bold;
    padding: 10px;
    font-size: 30px;;
}
img{
    height: 80px;
    width: 80px;
    margin-top: 15px;
      
}
.logo{
width: 250px;
    height: 100px;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
    left:10px;
    bottom:6px;
}
.tech{
  width: 250px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    left:168px;
    bottom:28px;
    perspective: 800px;
}
.sprite-logo {
    width: 1128px;
    height: 515px;
    background: url('twclogotechwinclub.png') no-repeat -1598px -1786px;
    transform: scale(0.097);
    padding-top: 0;
    margin-top: 10px;
    margin-left:10px;
    transform-origin: top left;
    display: inline-block;
}
.tech-logo{
	background: url('twclogotechwinclub.png') no-repeat -144px -490px;
	width: 1079px;
	height: 350px;
transform: rotateY(1deg) scale(0.2) rotateX(1deg) rotateZ(0deg);    transform-origin: top left;
perspective: 1000px;
  
}

.home-section,
.about-section {
    height: 100vh; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-section {
  height: 100vh; 
    width: 100vw;
  padding-top: 10px;
    background-color: #d9d9d9;
    font-family: 'Anton', sans-serif;
}

.about-section {
    background-color: #b35050;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border-radius: 20q;
}

.container {
  width: 100vw;
  height: 111vh ;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:#666;
  position: relative; 
}

.cards {
  position: relative;
  width: 100%;
  max-height:287px;
  max-width:281px ;
  height: 100%;
  margin-bottom: 20px;
  right: 457px;
  perspective: 1000px;
bottom: -4px; 
 transform: scale(1.7);
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.img{
  position: relative;
  top:275px;
  transform:skewY(-4deg)
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-79%) scale(.8) rotateY(61deg);
  opacity: .4;
  z-index: 0;
  transform-style: preserve-3d;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(79%) scale(.8) rotateY(-61deg);
  opacity: .4;
  z-index: 0;
    transform-style: preserve-3d;

}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}
label{
  background-color: grey;
}
.glass-card{
  height: 387px;
  width: 722px;
  background-color: #d9d9d964;
  color: white;
  backdrop-filter:blur(7px);
  border-bottom:1px solid rgba(255, 255, 255 );
  border-right:1px solid rgb(255, 255, 255) ;
  border-radius: 49px;
  position: absolute;
  top: 167px;
  right:132px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.07);
 padding: 85px;
}
.glasstext{
  font-family: "Kulim Park", sans-serif;
  margin-top: 10px;
  color: white;
  
}
.glass-card h1{
font-size: 36px;
  font-family: "Lexend Exa", sans-serif;
 letter-spacing: 6px;
text-shadow: 0 0 3px #fff,
                   0 0 0px #fff,
                   0 0 10px #fff;

}

.ellipse-bg{
  height: 100px;
  width: 100px;
  overflow: visible;
  transform: scale(0.75);
  position:absolute;
  top:-61px;
  right: 823px;
}
@media only screen and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }
}